.PrintArea {
    margin: 10px 5px;
    padding: 10px;
    width: 250px;
}

.PrintAreaInventory {
    margin: 10px 5px;
    padding: 10px;
    width: 450px;
}

th.test{
    border: 1px #000; background: #A19B9E;
}

.test{
    border: 1px #000; 
    background: #A19B9E;
}

@media print{
    th.test{
        border: 1px #000; 
        background: #A19B9E;
    }
}